@using Microsoft.AspNetCore.Authentication


<div>
    <strong>token_id</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync("id_token")</span>
</div>
<div>
    <strong>Access Token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync("access_token")</span>
</div>
<div>
    <strong>Refresh Token</strong>
    <span>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</span>
</div>


@foreach (var user in User.Claims)
{
    <div>
        <strong>@user.Type</strong>
        <span>@user.Value</span>
    </div>
}